<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.credit_score_management.mapper.IncidentMapper">
    <select id="list" resultType="com.example.credit_score_management.pojo.Incident">
        select *
        from incident
        <where>
            <if test="title != null and title != ''">
                title like concat('%', #{title}, '%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="classes != null and classes != ''">
                and classes = #{classes}
            </if>
        </where>
    </select>
</mapper>