<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.farm_management.mapper.FeedMapper">
    <select id="list" resultType="com.example.farm_management.pojo.FeedRecord">
        select *
        from feed
        <where>
            <if test="fid != null">
                and f_id = #{fid}
            </if>
            <if test="pid != null and pid != ''">
                and p_id = #{pid}
            </if>
            <if test="ftime != null and ftime != ''">
                and f_time = #{ftime}
            </if>
        </where>
    </select>

    <delete id="delete">
        delete
        from feed
        where f_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update feed
        <set>
            <if test="pid != null and pid != ''">
                p_id = #{pid},
            </if>
            <if test="ftime != null">
                f_time = #{ftime}
            </if>
        </set>
        where f_id = #{fid}
    </update>
</mapper>